<div class="container-bg ">
   <div class="component-container component-side-border">
    <ngb-tabset >
        <ngb-tab>
          <ng-template ngbTabTitle><b>Manifest Query</b></ng-template>
          <ng-template ngbTabContent>
              <app-manifest-query></app-manifest-query>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle><b>Bond Query</b></ng-template>
          <ng-template ngbTabContent>
            <app-bond-query></app-bond-query>
        </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle><b>Miscellaneous Query</b></ng-template>
            <ng-template ngbTabContent>
            <app-miscellaneous-query></app-miscellaneous-query>
        </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle><b>Summery Query</b></ng-template>
            <ng-template ngbTabContent>
            <app-summery-query></app-summery-query>  
        </ng-template>
        </ngb-tab>
        <ngb-tab>
        <ng-template ngbTabTitle><b>MID Query</b></ng-template>
        <ng-template ngbTabContent>
        <app-mid-query></app-mid-query>  
        </ng-template>
        </ngb-tab>
        <ngb-tab>
        <ng-template ngbTabTitle><b>Test Edi</b></ng-template>
        <ng-template ngbTabContent>
        <app-test-edi></app-test-edi>  
        </ng-template>
        </ngb-tab>
      </ngb-tabset>
   </div>
</div>
