.new-form-row{
    margin-bottom: 1%;
}

.form-title{
    margin: 1% 1%;
}

.form-lable{
    font-size: 12px;
    color: gray;
    font-weight: bold;
}

.form-checkbox{
    margin: 0% 1% 0% 1%;
    width: 15px;
    height: 15px;
}

.invalid-info{
    padding: 0.1%;
    cursor: pointer;
}